<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cartão Digital</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Karina dos Santos jordão</ion-card-title>
      <ion-card-subtitle>codigo da turma: 
        24104936</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
     <img [src]="foto" alt="Minha Foto" style="width:150px; border-radius:60%;" />


    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-button (click)="irParaSobre()" expand="block" color="secondary">
  Sobre
</ion-button>

  </div>
</ion-content>

